<head>

    <title>TDs</title>
    <%= stylesheet_link_tag 'td_index', plugin: 'tds' %>

</head>
<body>
    
    <div class='new-issue'>
        <%= link_to 'New TD', form_path(project_id: @project), method: :get, class: "icon icon-add" %>
    </div>

    <h2>TDs</h2>

    <table>
      <thead class='table-head'>

        <tr>
        	<th>Issue ID</th>
        	<th>TD ID</th>
        	<th>Type</th>
        	<th>Tracker</th>
        	<th>Status</th>
        	<th>Subject</th>
        	<th>Assignee</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>

      </thead>

      <tbody class='table-body'>
        <% cont = 1 %>
        <% @tds.each do |td| %>
           <% if cont == 2 %>
                <tr style='background-color: #ffffff'>
                <% cont = 1 %>
           <% else %>
                <tr style='background-color: #f6f7f8'>
                <% cont = 2 %>
           <% end %>
	            <td><%= td.issue.id %></td>
        	    <td><%= td.id %></td>
        	    <td><%= link_to td.td_type, info_path(project_id: @project, id: td.id), method: :get %></td>
        	    <td><%= td.issue.tracker %></td>
        	    <td><%= td.issue.status %></td>
        	    <td><%= td.issue.subject %></td>
        	    <td><%= td.issue.assigned_to %></td>
                <td><%= link_to 'Edit', edit_td_path(id: td[:id], project_id: @project, reload_to: "tds"), method: :get %></td>
                <td><%= link_to 'Delete', td_path(project_id: @project, id: td), method: :delete %></td>
            </tr>
        <% end %>
      </tbody>
    </table>

</body>







