<head>

    <title>New TD</title>
    <%= stylesheet_link_tag 'td_form', plugin: 'tds' %>
</head>

<body>
    <h2> New TD </h2>
    <div class="main">
        <%= form_with url: create_td_path, method: :post, local: true do |form| %>
            <%= form.hidden_field :project_id, value: @project.id %>
            <div class="field">
                <div class="field label">
                    <%= form.label :td_type %>
                </div>
                <div class="field input">
                    <%= form.select :td_type, ['Requisitos', 'Testes', 'Usabilidade'] %>
                </div>
            </div>
            <div class="field">
                <div class="field label">
                    <%= form.label :issue_id %>
                </div>
                <div class="field input">
                    <%= form.collection_select :issue_id, @issues, :id, lambda {|issue| "#{issue.subject} (##{issue.id})"}, prompt: 'Select an issue' %>
                </div>            
            </div>
            <div class="actions">
                <%= form.submit "Create TD" %>
            </div>
        <% end %>
    </div>
    
</body>





